<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="common">
      <directory>tests/unit</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>